<p-dialog header="Registro poscosecha" [(visible)]="mostrar" [modal]="true" [closable]="false" [draggable]="false"
    [resizable]="false" [style]="{width: '30rem'}">
    <div class="grid p-fluid">
        <span class="p-float-label">
            <p-inputNumber [ngClass]="{'ng-invalid ng-dirty': cantidadCafe.touched}" inputId="cafeRecogido" suffix=" Kg"
                [useGrouping]="false" [formControl]="cantidadCafe">
            </p-inputNumber>
            <label for="cafeRecogido">Cantidad de cafe recogido</label>
        </span>
        <small id="cafe-help" *ngIf="!cantidadCafe.touched || cantidadCafe.valid">Ingrese la cantidad de kilogramos de
            cafe recogido</small>
        <small id="username-help" class="p-error" *ngIf="cantidadCafe.touched">{{darError()}}</small>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="salirModal()" label="Cancelar" styleClass="p-button-text"></p-button>
        <p-button (click)="crearPoscosecha()" [disabled]="cantidadCafe.invalid" label="Continuar"
            icon="pi pi-chevron-right" iconPos="right"></p-button>
    </ng-template>
</p-dialog>